solution/unpacked/Workflows/ChangeProjectStatusbasedonBPFStagechangeofCoreBusi-6783969C-313C-EE11-BDF4-0022483D89BA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-2": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr4e0_sharedcommondataserviceforapps_119b7"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr4e0_sharedcommondataserviceforapps_77f02"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "cr4e0_contractbusinessflow",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "metadata": {
            "operationMetadataId": "6444ee6f-e8d0-4115-9a83-766990d41c70"
          }
        }
      },
      "actions": {
        "List_rows": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "processstages",
              "$filter": "processstageid eq @{triggerOutputs()?['body/_activestageid_value']}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "671617a6-fd8b-49a7-bbd7-db27829297bb"
          }
        },
        "Apply_to_each": {
          "type": "Foreach",
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Filter_array": {
              "type": "Query",
              "inputs": {
                "from": "@variables('Status Array')",
                "where": "@equals(item()['key'], items('Apply_to_each')?['stagename'])"
              },
              "metadata": {
                "operationMetadataId": "8271c875-e4f2-46de-b9bf-f8127182b43c"
              }
            },
            "Update_a_row": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr4e0_proposals",
                  "recordId": "@triggerOutputs()?['body/_bpf_cr4e0_proposalid_value']",
                  "item/cr4e0_projectstatus": "@body('Filter_array')[0]?['value']?['intval']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9c45b3a4-aa80-4a31-a0cb-a102a908fdba"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0bd02942-f3ca-4b93-9edd-152dbd537b8e"
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Status Array",
                "type": "array",
                "value": [
                  {
                    "key": "Draft",
                    "value": {
                      "intval": 860540000
                    }
                  },
                  {
                    "key": "Internal Approval",
                    "value": {
                      "intval": 860540001
                    }
                  },
                  {
                    "key": "Send To Client",
                    "value": {
                      "intval": 860540002
                    }
                  },
                  {
                    "key": "Sign-Off",
                    "value": {
                      "intval": 860540003
                    }
                  },
                  {
                    "key": "Executed",
                    "value": {
                      "intval": 860540004
                    }
                  }
                ]
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8a8beaf4-d958-43f6-aaf8-734eaf56c2aa"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}